[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
gunicorn = "*"
redis = "*"
apistar = {extras = ["asyncio"]}
asyncpg = "*"
asyncio-contextmanager = "*"
aiohttp = "*"
aiodns = "*"
cchardet = "*"
requests = "*"
aioredis = "*"


[dev-packages]

neovim = "*"
